<div class="container">
  <div class="card w-50 mx-auto my-2" *ngIf="allDataFetched">
    <img
      src="assets/profile-icon.jpg"
      class="card-img-top w-50 mx-auto"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ user.name }}</h5>
      <p class="card-text">
        The user is {{ user.status }}. <br />
        Gender: {{ user.gender | gender }} <br />
        User email:
        {{ user.email }}
      </p>
      <div class="d-flex align-items-end justify-content-end">
        <button class="btn btn-primary mx-1" (click)="navigateToPosts()">
          Check user posts
        </button>
        <button routerLink="/people" class="btn btn-secondary">Go back</button>
      </div>
    </div>
  </div>
</div>
